* {
    font-family: 'Lato', sans-serif;
    scroll-behavior: smooth;
     }
     /* applying gradient to the body */
    body{
      
     }
  .card{
    color: black;
    margin-left: 85px;
    margin-right: 85px;
    box-shadow: 0px 2px 15px #252525;
    border: 0;
    text-align: center;
    margin-bottom: 30px;
  }
  .card1{
    color: black;
    margin-left: 85px;
    margin-right: 85px;
    box-shadow: 0px 2px 15px #252525;
    border: 0;
    text-align: center;
  }
  .skil{
    margin-left: 280px;
    text-align: center;
    margin-right: 280px;
  }
  /* card button color  */
  .btn-primary {
    color: #fff;
    background-color: #005E7C;
    border-color: #007bff;
}
  /* introduction section */
  .top-bar{
    
    background-color:white;
      margin: 79px auto 0px;
      display: block;
      max-width: 700px;
      text-align: center;
      color: black;
      padding-top: 60px;
      margin-top: 280px;
      position: absolute;
      z-index: 6;
      left: 50%;
      transform: translateX(-50%);
      box-shadow: 0px 2px 15px #252525;
      border: 0;
      }
      .bg-light {
        background-color: #005E7C!important;
        box-shadow: 0px 2px 15px #252525;
        border: 0;
        margin-top: 6px;
        border-radius: 4px;
        margin-left: 6px;
        margin-right: 6px;
    }
    /* put my .top-bar into a section so i could add a background image to it */
  #header{
        background-image: url(../img/headimg.jpg)  ;
        padding-bottom: 24%;
        background-repeat:no-repeat;
        background-size: contain;
        position: relative;
        box-shadow: 0px 2px 15px #252525;
        border: 0;
      }
      /* styling my images  */
      .image1{
        vertical-align: middle;
        border-style: none;
        width: 20em;
        padding-left: 20px;

      }
   /* footer styling */
.ending{
  background-color: #005E7C;
  box-shadow: 0px 2px 15px #252525;
  border: 0;
  margin-bottom: 6px;
  border-radius: 4px;
  margin-left: 6px;
  margin-right: 6px;
 }
    
  /* styling the image */
  .fading{
    margin-left: 45px;
      margin-right: 45px;
  }
  /*Skills section styling below*/

#skills_section{
    height: 280px;
    background-color: white;
    color: black;
    padding-left: 10%;
    padding-right: 10%;
    line-height: 30px;
    padding-top: 100px;
  }
  
  #skills_section h3{
    font-size: 30px;
    letter-spacing: 2px;
    margin: 0;
    font-family: 'Barlow Semi Condensed', sans-serif;
  }
  
  #skills_section img{
    margin-top: 90px;
    margin-left: 10%;
    transition: all 1s ease-in-out;
  }
  
  #skills_section img:hover{
    width: 70px;
    height: 70px;
    transform: rotate(360deg);
  }
  
      
  /* styling of image */
  .coding{
    width: 300px;
  }
  
  h3{
    text-align: center;
    font-size: 30px;
    font-style: oblique;
  }
  p{
    font-size: 20px;
  }
  h2{
    text-align: center;
    font-style: oblique;
  }
  dt{
    font-size: 27px;
  }
  dd{
    font-size: 21px;
  }
  h1{
    font-size: 35px;
    font-style: oblique;
  }
  
 
  .info{
    margin-right: 60em;
    padding-top: 30px;
  }
  * {
    box-sizing: border-box;
  }
  
  body {
    margin: 0;
    font-family: Arial;
  }
  
  /* The grid: three equal columns that floats next to each other */
  .column {
    float: left;
    width: 33%;
    padding: 10px;
  }
  
  /* Style the images inside the grid */
  .column img {
    opacity: 0.8; 
    cursor: pointer; 
  }
  
  .column img:hover {
    opacity: 1;
  }
  
  /* Clear floats after the columns */
  .row:after {
    content: "";
    display: table;
    clear: both;
  }
  
  /* The expanding image container */
  .container {
    position: relative;
    display: none;
  }
  
  /* Expanding image text */
  #imgtext {
    position: absolute;
    bottom: 15px;
    left: 15px;
    color: white;
    font-size: 20px;
  }
  
  /* Closable button inside the expanded image */
  .closebtn {
    position: absolute;
    top: 10px;
    right: 15px;
    color: white;
    font-size: 35px;
    cursor: pointer;
  }
  
  #back_top {
    width: 100%;
    /* background-color: #3333; */
    text-align: center;
    height: 90px;
    padding-top: 20px;
    margin-top: 3%;
    padding-bottom: 100px;
    
  }
  
  .about{
    background-color:white;
    background-color: white;
    padding-top: 200px;
    
    
  }
  .skills{
    background-color: #333333;
  }
  
  .schooling{
    background-color: #333333;
  }
  
  /* styling the arrow */
  .arrow {
      text-align: center;
      margin-top: 70px;
    margin-bottom: 50px;
    color:white;
    }
    .arrow a{
      color: white;
      text-decoration: none;
    }
    
    .bounce {
      -moz-animation: bounce 2s infinite;
      -webkit-animation: bounce 2s infinite;
      animation: bounce 2s infinite;
      
    }
    @keyframes bounce {
      0%, 20%, 50%, 80%, 100% {
        transform: translateY(0);
      }
      40% {
        transform: translateY(-30px);
      }
      60% {
        transform: translateY(-15px);
      }
      }
      .container{
        position: relative;
        text-align: center;
        }
        .container2{
        position: relative;
        text-align: center;
        padding-top: 50px;
        margin-top: 40px;
        margin-bottom: 50px;
        color:black;
        margin-top: 140px;
        
        }
        /* syling the container 4 */
        .container4{
          background-color: #333333;
          color: #ffffff;
          text-align: center;
          margin-top: 40px;
            margin-bottom: 50px;
          
        }
        /* example */
    
  .snip1577 {
      font-family: 'Montserrat', Arial, sans-serif;
      position: relative;
      display: inline-block;
      overflow: hidden;
      margin: 10px;
      min-width: 230px;
      max-width: 315px;
      width: 100%;
      color: #fff;
      text-align: left;
      font-size: 16px;
      background: #000;
    }
    
    .snip1577 *,
    .snip1577:before,
    .snip1577:after {
      -webkit-box-sizing: border-box;
      box-sizing: border-box;
      -webkit-transition: all 0.4s ease;
      transition: all 0.4s ease;
    }
    
    .snip1577 img {
      max-width: 100%;
      backface-visibility: hidden;
      vertical-align: top;
    }
    
    .snip1577:before,
    .snip1577:after {
      position: absolute;
      top: 20px;
      right: 20px;
      content: '';
      background-color: #fff;
      z-index: 1;
      opacity: 0;
    }
    
    .snip1577:before {
      width: 0;
      height: 1px;
    }
    
    .snip1577:after {
      height: 0;
      width: 1px;
    }
    
    .snip1577 figcaption {
      position: absolute;
      left: 0;
      bottom: 0;
      padding: 15px 20px;
    }
    
    .snip1577 h3,
    .snip1577 h4 {
      margin: 0;
      font-size: 1.1em;
      font-weight: normal;
      opacity: 0;
    }
    
    .snip1577 h4 {
      font-size: .8em;
      text-transform: uppercase;
    }
    
    .snip1577 a {
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      z-index: 1;
    }
    
    .snip1577:hover img,
    .snip1577.hover img {
      zoom: 1;
      filter: alpha(opacity=20);
      -webkit-opacity: 0.2;
      opacity: 0.2;
    }
    
    .snip1577:hover:before,
    .snip1577.hover:before,
    .snip1577:hover:after,
    .snip1577.hover:after {
      opacity: 1;
      -webkit-transition-delay: 0.25s;
      transition-delay: 0.25s;
    }
    
    .snip1577:hover:before,
    .snip1577.hover:before {
      width: 40px;
    }
    
    .snip1577:hover:after,
    .snip1577.hover:after {
      height: 40px;
    }
    
    .snip1577:hover h3,
    .snip1577.hover h3,
    .snip1577:hover h4,
    .snip1577.hover h4 {
      opacity: 1;
    }
    
    .snip1577:hover h3,
    .snip1577.hover h3 {
      -webkit-transition-delay: 0.3s;
      transition-delay: 0.3s;
    }
    
    .snip1577:hover h4,
    .snip1577.hover h4 {
      -webkit-transition-delay: 0.35s;
      transition-delay: 0.35s;
    }
    
   
  /* styling the arrow */
  .arro {
      text-align: center;
      margin-top: 70px;
    margin-bottom: 50px;
    color: #000;
    }
    .arro a{
      color: #000;
      text-decoration: none;
    }
    
    
      .container{
        position: relative;
        text-align: center;
        }
        .container2{
        position: relative;
        text-align: center;
        padding-top: 50px;
        margin-top: 40px;
        margin-bottom: 50px;
        color:black;
        margin-top: 140px;
        }
      
  
        /* media query */
         /* Extra small devices (portrait phones, less than 576px) */
  @media (max-width: 575.98px) {
    
  };
  
   /* Small devices (landscape phones, less than 768px) */
  @media (max-width: 767.98px){
  
  }
  
   /* Medium devices (tablets, less than 992px) */
  @media (max-width: 991.98px){
  
  };
  
  /* Large devices (desktops, less than 1200px) */
  @media (max-width: 1199.98px){
  
  };
  
   /* Extra large devices (large desktops) */
  /* No media query since the extra-large breakpoint has no upper bound on its width */
    